@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
	var imgPath = HttpContextAccessor.HttpContext?.Session.GetString("img") ?? "~/img/user.png";
	var isRole = HttpContextAccessor.HttpContext.Session.GetInt32("isRole");
}
<!DOCTYPE html>

<html lang="en"
class="light-style layout-menu-fixed"
dir="ltr"
data-theme="theme-default"
data-assets-path="~/assets/"
data-template="vertical-menu-template-free">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

	<title>Phòng khám Thăng Long</title>

	<meta name="description" content="" />
	<link rel="icon" type="image/x-icon" href="~/img/logoThangLong.svg" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap&subset=vietnamese" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />
	<link rel="stylesheet" href="~/assets/vendor/css/core.css" class="template-customizer-core-css" />
	<link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
	<link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
	<link rel="stylesheet" href="~/assets/vendor/libs/apex-charts/apex-charts.css" />
	<script src="~/assets/vendor/js/helpers.js"></script>
	<script src="~/assets/js/config.js"></script>
	<script src="~/js/Notification.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.29/jspdf.plugin.autotable.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

	<link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator_simple.min.css" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"></script>

</head>

<body>
	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<!-- Menu -->
			<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
				<div class="app-brand demo">
					<div class="logo-header" data-background-color="dark">
						<a href="#" class="app-brand-link" style="padding: 12px 0;">
							<span class="app-brand-logo demo">
								<img src="~/img/logoThangLong.svg" alt="navbar brand" class="navbar-brand" height="60" />
							</span>
						</a>
					</div>
				</div>


				<ul class="menu-inner py-1">
					<!-- Trang chủ -->
					<li class="menu-item">
						<a href="@Url.Action("Index", "Home")" class="menu-link">
							<i class='menu-icon tf-icons bx bx-home-alt'></i>
							<div data-i18n="Analytics">Trang chủ</div>
						</a>
					</li>
					<li class="menu-header small text-uppercase">
						<span class="menu-header-text">CHỨC NĂNG CHUNG</span>
					</li>
					<li class="menu-item">
						<a href="@Url.Action("Index", "Department")" class="menu-link">
							<i class='bx bx-home-heart me-2'></i>
							<div data-i18n="Analytics">Phòng khám</div>
						</a>
					</li>
					@if (isRole == 4 || isRole == 3 || isRole == 1)
					{
						<li class="menu-item">
							<a href="@Url.Action("Index", "Position")" class="menu-link">
								<i class='bx bx-git-repo-forked me-2'></i>
								<div data-i18n="Analytics">Chức vụ</div>
							</a>
						</li>
					}
					<li class="menu-item">
						<a href="#" class="menu-link">

							<i class='bx bxs-user-detail me-2'></i>
							<div data-i18n="Analytics">Bác sĩ</div>
						</a>
					</li>
					<li class="menu-item">
						<a href="#" class="menu-link">
							<i class='bx bx-group me-2'></i>
							<div data-i18n="Analytics">Nhân viên</div>
						</a>
					</li>
					<li class="menu-item">
						<a href="#" class="menu-link">
							<i class='bx bxs-face me-2'></i>
							<div data-i18n="Analytics">Bệnh nhân</div>
						</a>
					</li>
					<li class="menu-item">
						<a href="#" class="menu-link">
							<i class='bx bxs-coin-stack me-2'></i>
							<div data-i18n="Analytics">Tài khoản</div>
						</a>
					</li>
					<li class="menu-item">
						<a href="@Url.Action("Index", "Bank")" class="menu-link">
							<i class='bx bxs-bank me-2'></i>
							<div data-i18n="Analytics">Ngân hàng thanh toán</div>
						</a>
					</li>
					<li class="menu-header small text-uppercase">
						<span class="menu-header-text">Khám chữa bệnh</span>
					</li>
					<li class="menu-item">
						<a href="#" class="menu-link">
							<i class='bx bxs-calendar me-2'></i>
							<div data-i18n="Analytics">Lịch khám bệnh</div>
						</a>
					</li>
					<li class="menu-item">
						<a href="#" class="menu-link">
							<i class='bx bxs-credit-card me-2'></i>
							<div data-i18n="Analytics">Thanh toán hóa đơn</div>
						</a>
					</li>
					</li>
					<li class="menu-item">
						<a href="@Url.Action("Index", "ServiceType")" class="menu-link">
							<i class='bx bx-cube-alt me-2'></i>
							<div data-i18n="Analytics">Dịch vụ</div>
						</a>
					</li>
					<li class="menu-item">
						<a href="@Url.Action("Index", "Medication")" class="menu-link">
							<i class='bx bx-dna me-2'></i>
							<div data-i18n="Analytics">Thông tin thuốc</div>
						</a>
					</li>
					<li class="menu-header small text-uppercase">
						<span class="menu-header-text">CÁ NHÂN</span>
					</li>
					<li class="menu-item">
						<a href="@Url.Action("Index", "Account")" class="menu-link">
							<i class="bx bx-user me-2"></i>
							<div data-i18n="Analytics">Thông tin cá nhân</div>
						</a>
					</li>
					<li class="menu-item" hidden>
						<a href="#" class="menu-link">
							<i class="bx bx-cog me-2"></i>
							<div data-i18n="Analytics">Cài đặt</div>
						</a>
					</li>
					<li class="menu-item">
						<a href="@Url.Action("Logout", "Home")" class="menu-link">
							<i class="bx bx-log-out me-2"></i>
							<div data-i18n="Analytics">Đăng xuất</div>
						</a>
					</li>
				</ul>
			</aside>
			<!-- / Menu -->
			<!-- Layout container -->
			<div class="layout-page">
				<!-- Navbar -->

				<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
					 id="layout-navbar">
					<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
						<a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
							<i class="bx bx-menu bx-sm"></i>
						</a>
					</div>

					<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
						<ul class="navbar-nav flex-row align-items-center ms-auto">
							<!-- Place this tag where you want the button to render. -->
							<!-- Thư -->
							<!-- Thông báo -->
							<li class="nav-item navbar-dropdown dropdown-user dropdown">
								<a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
									@* <i class='bx bxs-bell bx-tada'></i> *@
									<i class='menu-icon tf-icons bx bxs-bell'></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-end p-0 w-mã" style="width:max-content;">
									<li class="bg-primary text-white text-center fw-semibold text-uppercase p-2 rounded-top">
										Danh sách thông báo
									</li>

									<li class="p-2"></li>

								</ul>
							</li>

							<!-- Người dùng -->
							<li class="nav-item navbar-dropdown dropdown-user dropdown">
								<a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
									<div class="avatar avatar-online">
										<img src="@Url.Content(imgPath)" alt class="w-px-40 h-auto rounded-circle" id="avatar_layout" />
									</div>
								</a>
								<ul class="dropdown-menu dropdown-menu-end">
									<li>
										<a class="dropdown-item" href="#">
											<div class="d-flex">
												<div class="flex-shrink-0 me-3">
													<div class="avatar avatar-online">
														<img src="@Url.Content(imgPath)" alt class="w-px-40 h-auto rounded-circle" id="avatar_drop"/>
													</div>
												</div>
												<div class="flex-grow-1">
													<span class="fw-semibold d-block">
														@HttpContextAccessor.HttpContext.Session.GetString("loginName")
													</span>
													<small class="text-muted">
														@HttpContextAccessor.HttpContext.Session.GetString("position")
													</small>
												</div>
											</div>
										</a>
									</li>
									<li>
										<a class="dropdown-item" href="@Url.Action("Logout", "Home")">
											<i class="bx bx-log-out me-2"></i>
											<span class="align-middle">Đăng xuất</span>
										</a>
									</li>
								</ul>
							</li>

						</ul>
					</div>
				</nav>

				<!-- / Kết thúc navbar -->
				<!-- Nội dụng chính -->
				<div class="content-wrapper">
					@RenderBody()
					<!-- Footer -->
					<!-- / Footer -->

					<div class="content-backdrop fade"></div>
				</div>
				<footer class="content-footer footer bg-footer-theme">
					<div class="container-xxl d-flex flex-wrap justify-content-center py-2 flex-md-row flex-column">
						<div class="mb-2 mb-md-0">
							©
							<script>
								document.write(new Date().getFullYear());
							</script>
							, made with ❤️ by
							<a href="#" target="_blank" class="footer-link fw-bolder">Team 32</a>
						</div>
					</div>
				</footer>
				<!-- Kết thúc nội dung chính -->
			</div>
			<!-- / Layout page -->
		</div>

		<!-- Lớp phủ -->
		<div class="layout-overlay layout-menu-toggle"></div>
	</div>

	<!-- link các file js cần thiết-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
	<script src="~/assets/vendor/libs/jquery/jquery.js"></script>
	<script src="~/assets/vendor/libs/popper/popper.js"></script>
	<script src="~/assets/vendor/js/bootstrap.js"></script>
	<script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

	<script src="~/assets/vendor/js/menu.js"></script>
	<script src="~/assets/vendor/libs/apex-charts/apexcharts.js"></script>

	<script src="~/assets/js/main.js"></script>
	<script src="~/assets/js/dashboards-analytics.js"></script>

	<script src="~/assets/vendor/php-email-form/validate.js"></script>
	<script src="~/assets/vendor/aos/aos.js"></script>
	<script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>


	<script async defer src="https://buttons.github.io/buttons.js"></script>
	<script>
				$(document).ready(function () {
			const currentPath = window.location.pathname.toLowerCase();

			$('.menu-link').each(function () {
				const href = $(this).attr('href')?.toLowerCase();
				if (href && currentPath.includes(href)) {
					$('.menu-item').removeClass('active');
					$(this).closest('.menu-item').addClass('active');
				}
			});
		});
	</script>
</body>
</html>

<!--
	Lấy thông tin tạo ngân hàng
	private readonly string apiUrl = "https://api.vietqr.io/v2/banks";


	List<BankInfo> banks = new List<BankInfo>();

			using (HttpClient client = new HttpClient())
			{
				try
				{
					HttpResponseMessage response = await client.GetAsync(apiUrl);
					if (response.IsSuccessStatusCode)
					{
						string jsonData = await response.Content.ReadAsStringAsync();
						var result = JsonConvert.DeserializeObject<VietQRResponse>(jsonData);
						banks = result.data;
					}
				}
				catch (HttpRequestException ex)
				{
					ViewBag.Error = "Lỗi khi gọi API: " + ex.Message;
				}
			}

			return View(banks);


	public class VietQRResponse
		{
			public List<BankInfo> data { get; set; }
		}

		public class BankInfo
		{
			public string bin { get; set; }
			public string code { get; set; }
			public string name { get; set; }
			public string shortName { get; set; }
			public string logo { get; set; }
		}

-->
