@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
	var imgPath = HttpContextAccessor.HttpContext?.Session.GetString("img") ?? "~/img/user.png";
	var isRole = HttpContextAccessor.HttpContext.Session.GetInt32("isRole");
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
	<div class="row">
		<div class="col-12">
			<div class="card border-top border-primary">
				<input type="text" id="isRole" value="@isRole" hidden />
				<div class="card-body p-2" style="min-height: 700px;">
					<form method="get">
						<div class="row">
							<div class="col-sm-2 mb-2">
								<label class="form-label">Từ ngày</label>
								<input type="date" class="form-control form-control-sm" id="startDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
							</div>

							<div class="col-sm-2 mb-2">
								<label class="form-label">Đến ngày</label>
								<input type="date" class="form-control form-control-sm" id="endDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
							</div>
							<div class="col-sm-2 mb-2">
								<label class="form-label">Tài khoản</label>
								<select class="form-control select2 form-control-sm" asp-items="@ViewBag.Department" id="appDepartment">
									<option value="0">Tất cả</option>
									<option value="1">Bác sĩ</option>
									<option value="2">Nhân viên</option>
									<option value="3">Bệnh nhân</option>
								</select>
							</div>
							<div class="col-sm-2 mb-2">
								<label class="form-label">Trạng thái</label>
								<select class="form-control select2 form-control-sm" id="appDoctor">
									<option value="0">Tất cả</option>
									<option value="1">Đang sử dụng</option>
									<option value="2">Đã xóa</option>
								</select>
							</div>
							<div class="col-sm-4 mb-2">
								<label class="form-label">Từ khóa</label>
								<div class="input-group input-group-sm">
									<input type="text" id="deKeyword" class="form-control" placeholder="Từ khóa ..." />
									<div class="input-group-append">
										<button type="button" class="btn btn-success btn-sm" onclick="return GetAllDepartments();">
											<i class="fas fa-search"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</form>

					<div class="mt-2 border" id="department_tb"></div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="modal_department" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<input type="text" id="departId" value="" hidden />
			<div class="modal-header bg-primary">
				<h5 class="modal-title text-white text-uppercase">Thông tin tài khoản</h5>
			</div>
			<div class="modal-body p-2">
				<div class="row">
					<div class="mb-3 col-md-6">
						<label for="" class="form-label">Tài khoản</label>
						<select id="deHeadId" class="select2 form-select" asp-items="@ViewBag.Doctor">
							<option value="0">Bác sĩ</option>
							<option value="1">Nhân viên</option>
							<option value="2">Bệnh nhân</option>
						</select>
					</div>
					<div class="mb-3 col-md-6">
						<label for="email" class="form-label">Email <span class="text-danger">(*)</span></label>
						<input type="text" class="form-control" id="email" name="email" placeholder="Nhập email ..." autofocus />
					</div>

					<div class="mb-3 col-md-6">
						<label for="username" class="form-label">Tên đăng nhập <span class="text-danger">(*)</span></label>
						<input class="form-control" type="text" id="username" placeholder="Nhập tên đăng nhập ..." />
					</div>

					<div class="mb-3 col-md-6">
						<label for="password" class="form-label">Mật khẩu <span class="text-danger">(*)</span></label>
						<input type="password" id="password" class="form-control" placeholder="Nhập mật khẩu ..." />
					</div>

					<div class="mb-3 col-md-6">
						<label for="confirmPassword" class="form-label">Nhập lại mật khẩu <span class="text-danger">(*)</span></label>
						<input type="password" id="confirmPassword" class="form-control" placeholder="Nhập lại mật khẩu ..." />
					</div>
				</div>
			</div>
			<div class="modal-footer p-2">
				<button class="btn btn-success btn-sm" id="btn_update_department" onclick="return SaveInfor();">
					Cập nhật
				</button>
			</div>
		</div>
	</div>
</div>



<script src="~/assets/vendor/Jquery/jquery.min.js"></script>
<script src="~/js/AccManager.js"></script>